# Project Help docs
HELP.md

# Maven build directory
/target/
**/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Spring specific
spring.log

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
**/build/

### VS Code ###
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.swp
*.swo
